body{
    display: flex;
    height: 100vh;
    background: no-repeat left url(./night-sky.jpg);
    background-size: contain;
}

.container{
    width: 663px;
    position: relative;
    left: 580px;
    padding:15px;
}