@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-bg: #07092e;
    --secondary-bg: white;
}

body{
    display: flex;
    flex-direction: row;
    width:100vw;
    margin: 0;
    background-color: var(--main-bg);
    font-family: 'Roboto', sans-serif;
    color: #f0f2f5;
}

label, input {
    display: block;
        font-family: inherit;
        font-size: 100%;
        margin: 0;
        box-sizing: border-box;
        width: 325px;
        padding: 10px;
        height: 30px;
}

.image-section{
    height: 980px;
}

.banner{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 70%;
    width: 650px;
    font-size: 1.5rem;
    background-color: black;
}
.credit-section{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20%;
}

.service-p{
    font-size: 1.5rem;
    padding: 12px;
}

.input{
    display: flex;
    padding: 15px;
}

.section-1{
    margin-right: 45px;
}
.button-section, h3{
    padding: 15px;
}

