@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-bg: #07092e;
    --secondary-bg:#131642;
    --main-font-color: #f0f2f5;
}

body{
    display: flex;
    flex-direction: row;
    width:100vw;
    margin: 0;
    background-color: var(--main-bg);
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
}

label, input {
    display: block;
        font-family: inherit;
        font-size: 100%;
        margin-right: 35px;
        margin-bottom: 10px;
        box-sizing: border-box;
        width: 325px;
        padding: 10px;
        height: 30px;
        border-radius: 5px;
}

input:active{
    border: 1px solid var(--main-bg);
}

input + span {
    position: relative;
}

input:required+span::after {
    font-size: 0.5rem;
    position: absolute;
    content: "Required";
    color: var(--main-font-color);
    background-color: var(--main-bg);
    padding: 5px 10px;
    top: -65px;
    left: 275px;
}

input + span::before{
    position: absolute;
    top: -35px;
    left: 300px
}

input:invalid{
    border: 2px solid red;
}

input:invalid + span::before{
    content: "✕";
    color: red

}
input:valid{
    border: 2px solid green;
}

input:valid + span::before{
    content: "✓";
    color: green;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
button:hover{
    background-color: var(--secondary-bg);
    color: var(--main-font-color) ;
}

button:focus{
    background-color: #4e5485;
}

.image-section{
    height: 980px;
}

.container{
    margin-top: 10%;
}

.banner{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 75%;
    width: 650px;
    font-size: 1.5rem;
    background-color: black;
    opacity: .7;
}
.credit-section{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20%;
}

.service-p{
    font-size: 1.5rem;
    padding: 12px;
}

.input{
    display: flex;
    padding: 15px;
    background-color: var(--secondary-bg);
    box-shadow: 3px 3px 5px #35395c;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-section{
    padding: 15px;
    margin-top: 25px;

}

